#Estamos habilitando o rewrite module do apache
#para URLs Amigáveis
#E também redirecionando tudo que for link para o nosso
#arquivo index.

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ /index.php [NC,L]
